@charset "utf-8";
/* --------------------------------------------

CSS Stylesheet for Exam Builder

version: 1.5
last modified: April 6, 2016 by James Welch 
Author: James Welch (welcja01@gettysburg.edu)

-------------------------------------------- */


/* Changing the color scheme is easy! Simply use the comments to find what you're looking for! */

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #E7E6E6; /* page background color */
	margin: 0;
	padding: 0;
	color: #000; /* default text color */
}

/* element/tag selectors */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}
a img {
	border: none;
}


a:link {
	color: #000; /* text color for links */
	text-decoration: underline; /* force underlines so links are easy to spot */
}
a:visited {
	color: #000; /* text color for visited links (should be same as link color above */
	text-decoration: underline; /* force underlines so links are easy to spot */
}
a:hover, a:active, a:focus { 
	text-decoration: none; /* on hover-over on a link, remove the underline to indicate user has moused over the link */
}

/* this fixed width container surrounds the other divs */
.container {
	width: 960px;
	background: #FFF; /* background color of container div */
	margin: 0 auto;
}

.header {
	background: #E7E6E6; /* header background color */
}

.sidebar {
	float: left;
	width: 180px;
	
	padding-bottom: 10px;
}
.content {

	padding: 10px 0;
	width: 780px;
	float: left;
}


.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

ul.nav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #FFF; 
	margin-bottom: 15px; 
}

ul.nav ul{ 
   margin : 0px;
   padding: 0px;
   list-style-type : none;
   display: none; 
}
   
ul.nav li:hover ul{ 
   display : inline;
   position : absolute;
}

ul.nav ul li {
	border-left: 1px solid #FFF; /* this creates the button separation */
}
  
ul.nav li {
	border-bottom: 1px solid #FFF; /* this creates the button separation */
}
ul.nav a, ul.nav a:visited { /* make sure links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: inline-block;
	width: 160px;
	text-decoration: none;
	background: #5B9BD5; /* background color for buttons */
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background: #9DC3E6; /* backround color for buttons on mouseover */
	color: #FFF; /* text color for buttons on mouse over */
}

/* the footer */
.footer {
	padding: 10px 0;
	background: #D4D2D2; /* footer background color */
	position: relative;
	clear: both; 
}

/* miscellaneous float classes */
.floatright { 
	float: right;
	margin-left: 8px;
}
.floatleft {
	float: left;
	margin-right: 8px;
}
